{% extends 'base.html.twig' %}

{% block title %}
  Redovisning
{% endblock %}

{% block body %}
  <h1 class="centered" style="margin-top: 5vh;">Redovisning</h1>
  <div class="report-container">
    <aside class="left-border">
      <h2>Innehåll</h2>
      <ul>
        <li>
          <a href="#kmom01">Kmom01</a>
        </li>
        <li>
          <a href="#kmom02">Kmom02</a>
        </li>
        <li>
          <a href="#kmom03">Kmom03</a>
        </li>
        <li>
          <a href="#kmom04">Kmom04</a>
        </li>
        <li>
          <a href="#kmom05">Kmom05</a>
        </li>
        <li>
          <a href="#kmom06">Kmom06</a>
        </li>
        <li>
          <a href="#kmom10">Kmom10</a>
        </li>
      </ul>
    </aside>

    <main>
      <section id="kmom01">
        <h2>Kmom01</h2>
        <p>
          Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.

          <br />
          <br />
          Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?
          <br />
          <br />
          Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?
          <br />
          <br />
          Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.
          <br />
          <br />
          Vilken är din TIL för detta kmom?
        </p>
      </section>

      <section id="kmom02">
        <h2>Kmom02</h2>
        <p>Text för kmom02...</p>
      </section>

      <section id="kmom03">
        <h2>Kmom03</h2>
        <p>Text för kmom03...</p>
      </section>
      <section id="kmom04">
        <h2>Kmom04</h2>
        <p>Text för kmom04...</p>
      </section>
      <section id="kmom05">
        <h2>Kmom05</h2>
        <p>Text för kmom05...</p>
      </section>
      <section id="kmom06">
        <h2>Kmom06</h2>
        <p>Text för kmom06...</p>
      </section>
      <section id="kmom10">
        <h2>Kmom10</h2>
        <p>Text för kmom10...</p>
      </section>
    </main>
  </div>
{% endblock %}
