{% extends 'base.html.twig' %}

{% block title %}
	Card Game
{% endblock %}

{% block body %}
	<div class="report-container report-container-mob">
		<main>
			<div class="centered ">
				<span style="font-size:80px;">&#127137;</span>
				<span style="font-size:80px;">&#127137;</span>
				<span style="font-size:80px;">:21</span>
				<span style="font-size:80px;">&#127137;</span>
				<h1>Welcome to the 21-Card Game!</h1>
			</div>
			<div>
				<div class="double-bottom">

					<h2>
						Instructions – 21 Card Game
					</h2>
					<p>
						Get as close to 21 points as possible without going over (busting).
						<br>
					</p>
					<h4>
						Scoring rules:</h4>
					<p>
						Card Values:
						<br>
						<br>
						Number cards: Face value (2–10)
						<br>
						<br>
						Face cards (J, Q, K): 10 points
						<br>
						<br>
						Ace: 14 points, but switches to 1 if needed to avoid bust
						<br>
					</p>
					<h4>
						How to Play:</h4>
					<p>
						<br>
						- Press "Play 21: Cards game" to shuffle and begin.
						<br>
						<br>
						- Press "Hit" to draw a card and add it to your total.
						<br>
						<br>
						- Press "Stand" to end your turn and let the dealer play.
						<br>
						<br>
						- Dealer draws after player stands.
						<br>
						<br>
						- The player with the higher score under 21 wins!
					</p>
				</div>
			</div>
			<br/>
			<p class="double-bottom">
				To learn more about the card game visit:
				<a href="https://sv.wikipedia.org/wiki/Tjugoett_(kortspel)">Twenty-One:Card game</a>
			</p>
			<div class="centered">
				<form action="{{ path('game21_reset') }}" method="get">
					<button class="btn-game" type="submit">Play 21:Cards game</button>
				</form>
			</div>
			<br>
			<div class="centered double-bottom">
				<h3>List of routes</h3>
				<ul class="unset-list">
					<li>
						Session storage route:
						<a href="{{ path('session_store') }}">Link to Session variables</a>
					</li>
					<li>
						Game docs:
						<a href="{{ path('21card_docs') }}">Link to docs for 21 Cards game</a>
					</li>

				</ul>
			</div>
		</div>
	</main>
</div>{% endblock %}
