{% extends 'base.html.twig' %}

{% block title %}
  Home
{% endblock %}

{% block body %}
  <main>
    <h1>Home</h1>
    <p>Presentation på Hassan</p>
    <a href="{{ asset('img/hassanicon.png') }}"><img style="width: 150px;" src="{{ asset('img/hassanicon.png') }}" alt="" /></a>
    <p>Jag heter Hassan Hussain, har en stark passion för att lära mig att programmera så bra som möjligt. Jag har nyligen börjat studera DV1608-Objektorienterade webbteknologier på Blekinge Tekniska Högskola</p>
    <p>Jag är en självlärd programmerare med några certiferingar i fickan och utvecklat ett stort intresse för webbutveckling och molnlösningar. Under resa har jag lärt mig både JavaScript och Python, och önskar dycka ner i objektorienterade PHP genom attt studera Webbprogrammering på BTH. Dedikerad problemlösare med ett samarbetstänkande som alltid håller mig uppdaterad med de senaste branschtrenderna.</p>
  </main>
{% endblock %}
